body {
  position: relative;
}

canvas {
	display: block;
	margin: 0 auto;
	background-color : #dae2f2;
	border : solid 1px grey;
	border-radius : 10px;
	color : white;
}

.autredonnee {
	min-height : 200px;
	background-color : #454d55;
	border : solid 1px grey;
	border-radius : 10px;
	color : white;
	font-weight : bold;	
}

#collapseCanvas { margin-top: 20px}